<section class="auth-page">
  <h1>Inicio de sesión exitoso</h1>
  <p>Bienvenido {{user.name}}. Serás redirigido en breve...</p>
  <p>If you are not redirected automatically, <a href="{{redirect}}">click here</a>.</p>
  <meta http-equiv="refresh" content="2;url={{redirect}}" />
</section>
